body {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Overpass', sans-serif;
    color: hsl(207, 13%, 34%);
}

/*Header*/
.main-header{
    height: 500px;
    border-bottom-left-radius: 150px;
    background-image: url("images/bg-pattern-intro.svg"), linear-gradient(to right, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    background-position: 25% 50%;
}
.main-header .nav {
    padding: 10px 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*btn*/
.btn{
    padding: 10px;
    border: white 1px solid;
    border-radius: 50px;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    background-color: transparent;
    color:white !important;
    text-decoration: none;
}

.btn-white {
    background-color: white;
    color: hsl(353, 100%, 62%)!important;
}

/*hero*/
.hero {
    text-align: center;
}

/*section*/
.section-1{
    padding: 0;
    width: 100%;
    height: 960px;
}
.section-1-h1{
    padding: 0;
    width: 100%;
    height: 20px;
    position: relative;
    top: 120px;
}
.info-section-1{
    padding: 0;
    display: inline-block;
    position: relative;
    top: -400px;
    left: 150px;
    width: 36%;
    text-align: justify;
}
.img-section-1{
    padding: 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: 560px;
    width: 34.35%;
    height: auto;
}
.section-1 h1{
    text-align: center;
    font-size: 34px;
    color: hsl(208, 49%, 24%);
}
.section-1 h3{
    font-size: 24px;
    color: hsl(208, 49%, 24%);
} 

.section-2{
    width: 100%;
    height: 400px;
    background-image: url("images/bg-pattern-circles.svg"),linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-position: -21% 80%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    color: hsl(0, 0%, 100%);
}
.info-section-2{
    padding: 0;
    display: inline-block;
    position: relative;
    left: -100px;
    top: -350px;
    width: 40%;
    height: auto;
    text-align: justify;
}
.img-section-2{
    padding: 0;
    display: inline-block;
    position: relative;
    left: 150px;
    top: -70px;
    width: 45%;
    height: auto;
}
.section-2 h1{
    font-size: 34px;
} 

.section-space{
    width: 100%;
    height: 100px;
}

.section-3{
    width: 100%;
    height: 900px;
}
.info-section-3{
    padding: 0;
    display: inline-block;
    position: relative;
    left: -480px;
    top: -310px;
    width: 34%;
    text-align: justify;
}
.img-section-3{
    padding: 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: -275px;
    width: 65%;
    height: auto;
}
.section-3 h3{
    font-size: 24px;
    color: hsl(208, 49%, 24%);
} 

/*intro navbar*/
.intro-spacing{
    padding: 120px 40px;
    font-size: 50px;
    color: hsl(0, 0%, 100%);
}
.intro-spacing p{
    margin-top: 32px;
    font-size: 16px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-content{
    width: 80%;
    color: white;
}
.intro-blogr{
    padding: 0;
    display: inline-block;
    position: static;
    width: 20%;
    height: auto;
    text-align: center;
    font-size: 32px;
}
.intro-product{
    padding: 0;
    display: inline-block;
    position: static;
    width: 10%;
    height: auto;
}
.intro-company{
    padding: 0;
    display: inline-block;
    position: static;
    width: 10%;
    height: auto;
}
.intro-connect{
    padding: 0;
    display: inline-block;
    position: static;
    width: 10%;
    height: auto;
}

/*footer*/
.footer-content{
    width: 100%;
    height: 330px;
    color: hsl(240, 2%, 79%);
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 100px;
}
.footer-blogr{
    padding: 0;
    display: inline-block;
    position: relative;
    left: 180px;
    top: -80px;
    width: 5%;
    height: auto;
    font-size: 36px;
}
.footer-product{
    padding: 0;
    display: inline-block;
    position: relative;
    left: 450px;
    top: 60px;
    width: 10%;
    height: auto;
}
.footer-company{
    padding: 0;
    display: inline-block;
    position: relative;
    left: 600px;
    top: 30px;
    width: 10%;
    height: auto;
}
.footer-connect{
    padding: 0;
    display: inline-block;
    position: relative;
    left: 750px;
    width: 10%;
    height: auto;
}
footer h6{
    font-size: 16px;
    text-align: left;
    color: hsl(0, 0%, 100%);
}
footer h3{
    color: hsl(0, 0%, 100%);
    font-weight: 300, 600;
}